<div class="weui-cells__title">标题</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="">
        </div>
    </div>
</div>


<div class="weui-cells__title">问题描述</div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="" style="height: 8rem"></textarea>
            <!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
        </div>
    </div>
</div>


<a href="javascript:;" class="weui-btn weui-btn_warn subBtn">提交</a>