<div class="home2">
    <div class="homeBg">
        <div id="focus1" class="focus">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <ul>
                    <li><a><img _src="img/homeBg4.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg5.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg6.jpg" src="img/blank.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="mask"></div>
    </div>

    <div class="weui-grids">
        <a href="#thomas" class="weui-grid marg-bottom marg-right line-1">
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe6c3;</i>
            </div>
            <p class="weui-grid__label">北京托马斯</p>
        </a>
        <a href="#courseIntroduction" class="weui-grid marg-left marg-bottom marg-right line-1">
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe649;</i>
            </div>
            <p class="weui-grid__label">课程介绍</p>
        </a>
        <a href="#successCase" class="weui-grid marg-left marg-bottom line-1">
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe636;</i>
            </div>
            <p class="weui-grid__label">成功案例</p>
        </a>





        <a href="#videoList" class="weui-grid marg-top marg-right marg-bottom line-2">
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe66b;</i>
            </div>
            <p class="weui-grid__label">课程视频</p>
        </a>
        <a href="javascript:;" class="weui-grid weui-grid-center marg-right marg-bottom marg-top marg-left line-2" >

        </a>
        <a href="#culture" class="weui-grid marg-top marg-left marg-bottom line-2" >
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe622;</i>
            </div>
            <p class="weui-grid__label">企业文化</p>
        </a>




        <a href="#contactUs" class="weui-grid marg-top marg-right line-3" >
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe72f;</i>
            </div>
            <p class="weui-grid__label">联系我们</p>
        </a>
        <a href="#aboutUs" class="weui-grid marg-left marg-top marg-right line-3" >
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe693;</i>
            </div>
            <p class="weui-grid__label">关于我们</p>
        </a>
        <a href="#feedback" class="weui-grid marg-left marg-top line-3" >
            <div class="weui-grid__icon">
                <i class="icon iconfont">&#xe651;</i>
            </div>
            <p class="weui-grid__label">问题反馈</p>
        </a>
    </div>
</div>