<div class="home3">
    <div class="homeBg">
        <div id="focus1" class="focus">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <ul>
                    <li><a><img _src="img/homeBg7.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg8.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg9.jpg" src="img/blank.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="mask"></div>
    </div>
    <div class="logo">
        <img src="img/logo.png" alt="">
    </div>
    <div class="home-list">

        <div class="list clearfix">
            <div class="list-block">
                <a href="#thomas"><span>北京托马斯</span></a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#courseIntroduction"><span>课程介绍</span></a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#successCase"><span>成功案例</span></a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#videoList"><span>课程视频</span></a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#culture"><span>企业文化</span></a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#contactUs"><span>联系我们</span></a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#aboutUs"><span>关于我们</span></a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#feedback"><span>问题反馈</span></a>
            </div>
        </div>

    </div>
</div>