<div class="home1">
    <div class="homeBg">
        <div id="focus1" class="focus">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <ul>
                    <li><a><img _src="img/homeBg1.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg2.jpg" src="img/blank.png"/></a></li>
                    <li><a><img _src="img/homeBg3.jpg" src="img/blank.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="mask"></div>
    </div>
    <div class="logo">
        <img src="img/logo.png" alt="">
    </div>
    <div class="home-list">

        <div class="list clearfix">
            <div class="list-block">
                <a href="#thomas">北京托马斯</a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#courseIntroduction">课程介绍</a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#successCase">成功案例</a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#videoList">课程视频</a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#culture">企业文化</a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#contactUs">联系我们</a>
            </div>
        </div>
        <div class="list clearfix">
            <div class="list-block">
                <a href="#aboutUs">关于我们</a>
            </div>
        </div>

        <div class="list clearfix">
            <div class="list-block">
                <a href="#feedback">问题反馈</a>
            </div>
        </div>

    </div>
</div>