<div class="map">
    <img src="img/del/location.jpg" alt="">
</div>
<div class="weui-panel weui-panel_access">

    <div class="weui-panel__bd">
        <a href="#home" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="img/del/school-1.jpg">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">北京托马斯教育分校</h4>
                <p class="dingwei">
                    <i class="icon iconfont icon-dingwei"></i>
                   <span class="dingwei"> 离我789.78km距离</span>
                </p>
                <p class="weui-media-box__desc desc">
                    北京托马斯教育是少儿英语培训最权威的校园，最优质的环境，最安全的教育方北京托马斯教育是少儿英语培训最权威的校园，最优质的环境，最安全的教育方
                </p>
            </div>
        </a>
    </div>
</div>