    <div id="focus2" class="focus">
        <div class="hd">
            <ul></ul>
        </div>
        <div class="bd">
            <ul>
                <li><a><img _src="img/del/slider-1.jpg?v=0" src="img/blank.png" /></a></li>
                <li><a><img _src="img/del/slider-2.jpg?v=0" src="img/blank.png" /></a></li>
                <li><a><img _src="img/del/slider-3.jpg?v=0" src="img/blank.png" /></a></li>
                <li><a><img _src="img/del/slider-4.jpg?v=0" src="img/blank.png" /></a></li>
            </ul>
        </div>
    </div>
<img src="img/del/bjtms.jpg" alt="" width="100%">
