<div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div><div class="video">
    <video controls poster="img/del/video.jpg" style="width:100%;height:10rem;" x5-video-player-type="h5"
           x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true">
        <source src="video/2.mp4?a=0">
    </video>
    <h1 class="clamp-2">上课独门技巧原来是这样的，看中了之后秒懂！上课独门技巧原来是这样的，看中了之后秒懂！</h1>
    <p>
        <span>
            <i class="icon iconfont icon-bofang"></i>
            <em>1890次播放</em>
        </span>
        &nbsp;&nbsp;
        <span>2017-12-24</span>
        <span class="fenxiang">
            <i class="icon iconfont icon-fenxiang"></i>
            <em>分享</em>
        </span>
    </p>
</div>